<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.smartattend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAttend">
        <activity
            android:name=".lecturer.LecturerActivity"
            android:exported="true" />
        <activity
            android:name=".student.ui.StudentActivity"
            android:exported="true" />
        <activity
            android:name=".student.StudentActivity"
            android:exported="true"
            android:label="@string/title_activity_student" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>